<body class="background">
  <div class="container">
    <div class="navbar">
      <%= link_to root_path do %>
        <%= image_tag ('/assets/logo_rv.png'), alt: ("logo rv"), class: ("logo_style") %>
      <% end %>
      <a class="navbar-item" href="/contact">Contact</a>
      <a class="navbar-item" href="/about">About</a>
      <a class="navbar-item" href="/project">Project</a>
      <a class="navbar-item" href="/">Home</a>
    </div>
      <div class="row">
        <div class="col-md-9">
          <div class="main_card">
            <h2 class="main_card"> Creative Web Developer </h2>
              <p>I care a lot about design for positive impact and enjoy creative user-centric, delightful, and human experiences.</p>
                <div class="buttom_row">
                  <a class="contact_me" href="/contact">Contact Me</a>
                  <img onclick="window.location.href='https://www.linkedin.com/in/robinvorstedt/';">
                      <%= image_tag ('/assets/linkdeln_logo.png'), alt: ('linkdeln'), class: ('logo_linkdeln') %>
                  <img onclick="window.location.href='https://github.com/RobinV-sudo/';">
                      <%= image_tag ('/assets/icon-github.png'), alt: ('github'), class: ('logo_github') %>
                </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="photo_card_home_2">
            <%= image_tag ('/assets/rv_me.jpg'), alt: ('Photo Robin Vorstedt'), class: ('card_photo_home') %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="experince">
           <div class="experince_years">
           <div var gradients = Array.from({ length: 15 })
            ul
              each gradient, index in gradients
                li(class=`gradient--${index}`)
                  .gradient
                  .start-color
                  .end-color>
            </div>
            <p class="experince_years_text"> 0 Years</p>
           </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="course">
          <h2 class="course_title">Skills of Web Developer</h2>
            <div class="container_icon">
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-html.png'>
                  <p>HTML</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-css.png'>
                  <p>CSS</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-scss.png'>
                  <p>SCSS</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-javascript.png'>
                  <p>Javascript</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-ruby.png'>
                  <p>Ruby</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-rails.png'>
                  <p>Ruby on Rails</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-terminal.png'>
                  <p>Terminal</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-vscode.png'>
                  <p>VS Code</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-sql.png'>
                  <p>SQL</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-webpack.png'>
                  <p>WebPack</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-heroku.png'>
                  <p>Heroku</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-figma.png'>
                  <p>Figma</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-git.png'>
                  <p>Git</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-github.png'>
                  <p>GitHub</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-bootstrap.png'>
                  <p>BootStrap</p>
                </div>
              </div>
              <div class="items_icon">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="project-name">
                  <img alt="HTML" class="icon_style" src='/assets/icon-ajax.png'>
                  <p>AJAX</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
